/*
    Form validation
*/
.validation-error-message {
    color: #d9534f; /* classic bootstrap red */
    padding: 6px 12px 0px 12px;
}

/*
    Page
*/
.Page-container {
	font-family: Montserrat;
	min-height: 100vh;
}
    .Page-container .title {
        font-size: 24px;
    }

/*
    Header
*/
.header img {
    height: 100%;
}

.header .menu-icon {
        margin-right: 10px;
    }

.Group-notification {
	background-color: #e7e7e7;
	border-radius: 10px;
}

    .Group-notification .picture-wrapper {
	    padding: 20px 0 20px 20px;
    }

    .Group-notification img {
	    width: 100%;
	    max-width: 200px;
	    border-radius: 50%;
    }
