
/********************************/
/*    Groups page elements      */
/********************************/

.Btn-new-group {
    font-size: 22px;
    padding: 10px;
    width: 150px;
    border-radius: 12px;
}

/* Group component */
.Group-item {

    background-color: #e7e7e7;
    border-radius: 4px;

    margin-top: 22px;
    padding: 15px 24px;

    -webkit-box-shadow: 10px 10px 28px -6px rgba(105,85,105,1);
    -moz-box-shadow: 10px 10px 28px -6px rgba(105,85,105,1);
    box-shadow: 10px 10px 28px -6px rgba(105,85,105,1);
}

.Group-item .group-title {

    margin-bottom: 12px;

    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
}

.Group-item .group-since {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.Group-item .group-description {
    font-family: 'PT Serif', serif;
}


img.media-object {
    height: 75px;
    border-radius: 50%;
}
