/***********************************/
/*       Group page elements      */
/***********************************/

/* Groups page header */
.Group-presentation {
    background: #f8f8f8;
}

.Group-presentation .picture-container {
    padding: 32px 15px 20px 15px;
    text-align: center;
}

.Group-presentation .picture-container img {
    border: 7px solid lightgray;
    border-radius: 50%;
    max-width: 200px;
}

.Group-presentation .text {
    text-align: center;
}

.Group-presentation .text .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}


/*
    Admin buttons
*/
.Admin-buttons {
    margin: 20px 0;
}


.Group-action-btn {
    color: white;
    border-radius: 16px;
    background-color: rgb(97, 69, 91);
    width: 175px;
    display: inline-block;
}

.Group-action-btn.deleteGroup {
    background-color: #7d2301;
}

.Group-action-btn.deleteGroup .icon-container {
    background-color: rgb(87, 6, 0);
}

.Group-action-btn .icon-container {
    border-radius: 16px;
    background-color: rgb(76, 51, 72);
}

.Group-action-btn > div {
    display: inline-block;
    padding: 24px;
}


/* The toggler components toggles messages/tasks/files */
.Toggler {
    text-decoration: none;
    color: white;
    border-radius: 16px;

    -webkit-box-shadow: 10px 10px 28px -6px rgba(105,85,105,1);
    -moz-box-shadow: 10px 10px 28px -6px rgba(105,85,105,1);
    box-shadow: 10px 10px 28px -6px rgba(105,85,105,1);
}

    .Toggler > div {
        display: inline-block;
        height: 100%;
        padding: 24px;
    }

    .Toggler a {
        color: white;
    }

    .Toggler .text {
        border-radius: 16px;
    }

    .Toggler .action {
        float: right;
    }

    .Toggler.messages {
        background-color: rgb(1, 91, 125);
    }

    .Toggler.messages .text {
        background-color: rgb(0, 70, 98);
    }

    .Toggler.files {
        background-color: rgb(30, 101, 95);
    }

    .Toggler.files .text {
        background-color: rgb(26, 85, 81);
    }

    .Toggler.tasks {
        background-color: rgb(201, 115, 4);
    }

    .Toggler.tasks .text {
        background-color: rgb(151, 88, 9);
    }

/* The group message container component */
.Group-message {

    font-family: Montserrat, Arial, sans-serif;

    margin: 5px 0;
    padding: 20px;
    background: #f8f8f8;

    border: 1px solid #ccc;
    border-radius: 12px;

}

    .Group-message .user-info {
        text-align: center;
    }

    .Group-message .profile-picture-container img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .Group-message .post-info {
        font-weight: bold;
    }

    .Group-message .content {
        max-height: 250px;
        overflow-y: auto;
    }

@media screen and (max-width: 768px) {

    .Group-message .profile-picture-container {
        display: none;
    }

    .Group-message .content {
        max-height: none;
    }

}
