/*lelelelelelelel*/
* {
    box-sizing: border-box;
}

ody
{
    padding: 0px;
    margin: 0px;
}

#header
{
    padding: 20px;
    background-color: #d7e5e4;
    border-bottom: #5f9482 solid 2px;
    color: #1e4638;
    font-size: 24px;
}

.submitButton
{
    background-color: #d7e5e4;
    border: #5f9482 solid 1px;
    padding: 8px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

    .submitButton:hover
    {
        background-color: #e1e1e1;
    }

.login
{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: solid 2px #5f9482;
    color: #1e4638;
}

    .login .textBox
    {
        width: 240px;
    }


    .login #divButton
    {
        padding: 4px;
        text-align: right;
    }

.chatRoom
{

    display: none;

    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px gray;
    float: left;

    border-radius: 6px 6px 0 0;
}

    .chatRoom .title
    {
        font-size: 16px;
        font-weight: bold;
        padding: 8px;
        text-transform: uppercase;
        text-align: center;
        /*background-color: #d7e5e4;*/
        border-bottom: solid 1px #5f9482;
    }

    .chatRoom .content
    {
        height: 250px;
        clear: both;
        position: relative;
    }

        .chatRoom .content .chatWindow  
        {
            width: 100%;
            height: 100%;
            border-right: solid 1px #5f9482;
            overflow-y: scroll;
            padding: 0 24px;
        }

            .chatRoom .content .chatWindow .message
            {
                padding: 4px;
                font-size: 12px;
            }

                .chatRoom .content .chatWindow .message .userName
                {
                    font-weight: bold;
                }

        .chatRoom .content .users
        {
            float: right;
            width: 200px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            display: none;
        }

            .chatRoom .content .users .user
            {
                display: block;
                cursor: pointer;
                padding: 4px;
                background-color: #f9f9f9;
                border-bottom: solid 1px #5f9482;
            }

            .chatRoom .content .users .loginUser
            {
                display: block;
                padding: 4px;
                color: gray;
                border-bottom: solid 1px #5f9482;
            }

            .chatRoom .content .users .user:hover
            {
                background-color: #e1e1e1;
            }

    .chatRoom .messageBar
    {
        border-top: solid 1px gray;
        padding: 12px 10px;
        position: relative;
    }

        .chatRoom .messageBar .textbox
        {
            /*width: 550px;*/
            height: 100%;
            padding: 8px;
            width: 100%;
            border: 1px solid green;
            border-radius: 10px;
        }

.disconnect
{
    position: absolute;
    margin: 10px;
    background-color: #ffcbcb;
    padding: 4px;
    border: solid 1px red;
}


.draggable
{
    position: absolute;
    border: #5f9482 solid 1px !important;
    width: 250px;
}

    .draggable .header
    {
        cursor: move;
        background-color: #d7e5e4;
        border-bottom: #5f9482 solid 1px;
        color: #1e4638;
    }

    .draggable .selText
    {
        color: black;
        padding: 4px;
    }

    .draggable .messageArea
    {
        width: 250px;
        overflow-y: scroll;
        height: 200px;
         border-bottom: #5f9482 solid 1px;
    }

        .draggable .messageArea .message
        {
            padding: 4px;
        }

    .draggable .buttonBar
    {
        width: 250px;
       padding:4px;
    }

        .draggable .buttonBar .msgText
        {
            width: 172px;
        }

        .draggable .buttonBar .button
        {
           margin-left:4px;
            width: 55px;
        }

.Chat-sidebar {
    position: fixed;
    left: 0;
    top: 100px;
    background: #337ab7;
    border: 2px solid #144773;
    border-radius: 0 13px 13px 0;
    padding: 24px;
    color: white;
}
    .Chat-sidebar a {
        color: white;
    }
    .Chat-sidebar a:focus, .Chat-sidebar a:hover {
        color: white;
        font-weight: bold;
    }

.Chatboxes-container {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 24px;
    overflow-x: scroll;
}

    .Chatboxes-container .container-inner {
        width: 10000px; /* scroll through the chatboxes on x axis */
    }