/*
    Home page styling
*/

.Home-page {
    font-family: Montserrat;
}
    .Home-page .description {
        background: #E8BA61;
        border-radius: 8px;
        border-color: #aaa;
        padding: 24px;
    }

    .Home-page .description .inner-wrapper {
        max-width: 525px;
        margin: auto;
    }

    .Home-page .description hr {
        border-top: 2px solid #ddd;
    }

    .Home-page .description p {
        font-size: 18px;
    }

.Home-page .main-title {
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
}

.Home-logo-container {
	text-align: center;
	padding: 50px;
}

.Home-logo-container img {
	width: 100%;
	max-width: 400px;
}

.Home-page .features {
    margin: 42px 0;
}

.Home-page .feature .glyphicon {
    font-size: 120px;
    color: #E8BA61;
}

.Home-page .feature {
    text-align: center;
    background: #e1e1e1;
    padding: 42px;
    border-radius: 8px;
    border: 1px solid #bbb;
    margin-top: 10px;
}
    .Home-page .feature .content {
        padding: 12px;
    }
